@model MyTask

<h1>Создать новую задачу</h1>

<form asp-action="Create" method="post">
    <div>
        <label>Название задачи:</label>
        <input type="text" asp-for="Title" required />
    </div>
    <div>
        <label>Приоритет:</label>
        <select asp-for="Priority">
            <option value="High">Высокий</option>
            <option value="Medium">Средний</option>
            <option value="Low">Низкий</option>
        </select>
    </div>
    <div>
        <label>Подробное описание задачи:</label>
        <textarea asp-for="Description" required></textarea>
    </div>
    <div>
        <label>Имя исполнителя:</label>
        <input type="text" asp-for="Assignee" required />
    </div>
    <div>
        <input type="submit" value="Создать задачу" />
    </div>
</form>

<a asp-action="Index">Назад к списку задач</a>
